
#uberpos tbody {
  border: 0;
}

#uberpos #uberpos-interface {
  width: 370px;
}

#uberpos-interface table#input-date {
  width: 100%;
}

#uberpos-date {
  display: inline
}

#uberpos-input-form #edit-submit {
  display: none;
}

#screen {
  position: relative;
  width: 100%;
  height: 370px; 
  overflow: hidden;
  border: 1px solid black;
}

#screen table, 
#screen tr {
  width: 100%;
  margin: 0;
}

.row-selection {
  display: none;
}

#screen table th {
  height: 600px;
}

#screen table tr {
  background: white;
  border: 0;
}

#screen table tr.selected,
#screen table tr.selected td {
  background: #309BDF;
  color: white;
}

#screen table tr td div.product-title {
  padding-top: 1px;
  height: 18px;
  overflow: hidden;
}

#screen table tr td.price {
  text-align: right;
}

#uberpos table td.date {
  font-weight: bold;
}

#uberpos table td.right {
  text-align: right;
}

#uberpos-total,
#uberpos-paid,
#uberpos-due,
.uberpos-line-item {
  text-transform: uppercase;
  text-align: right;
}

#receipt {
 display:none;
}

#receipt-order-id, #receipt-barcode {
  text-align: center;
}

#pos-login {
  height: 640px;
  width: 480px;
  padding: 100px 0 0 0;
}

#pos-login #user-login .description {
  display: none;
}

#clear-message {
  height:90px;
  margin-left:auto;
  margin-right:auto;
  margin-top:65px;
  text-align:center;
  width:350px;
  background: #309BDF;
  color: white;
  font-weight: bold;
  padding: 30px 10px 10px;
}

#clear-to-continue {
  margin-top: 20px;
}

#receipt-body {
  line-height:normal;
}

#receipt-body,
#receipt-body .product-title,
#receipt-body .uc-price {
  font-family: 'Trebuchet MS',Geneva,Arial;
  text-transform: uppercase;
}

#receipt-screen table {
  width: 100%;
}

#receipt-screen table,
#receipt-screen tr {
  width: 100%;
}
  
#receipt-screen table th {
  display:none;
} 
  
#receipt-screen table tr {
  background: white;
}

#receipt-screen table tr td.price {
  text-align: right;
}

#uberpos-total,
#uberpos-paid,
#uberpos-due,
.uberpos-line-item {
  text-transform: uppercase;
  text-align: right;
}

.up-button, .up-button-submit {
  background-color: #aaa;
  color: black;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin: 4px;
}

.up-button:hover, .up-button-submit:hover {
  background-color: #309BDF;
}

.uberpos-button-00 {
  font-size:15px;
}

.uberpos-button-down {
  margin-bottom: 40px;
}

table#number-pad {
  text-align: center;
}

#buttons tr, td.uberpos-align-top {
  vertical-align: top;
}

#uberpos tr.change {
  background: red;
}

#uberpos tr.payment {
  background: green;
}

.up-text-hidden {
  display: none;
}
