
td.row-label {
    font-weight:bold;
}

tr.payment-method td,
tr.payment-method {
    border:none;
    border-style:none;
}

tr.odd.total-row,
tr.even.total-row {
    border-top:3px solid #CCC;
    font-weight:bold;
}